* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.bg-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: magenta;
    font-size: 8vmin;
    text-align: center;
}

main {
    background: crimson;
}




main p {
    font-size: 3rem;
    color: white;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    max-width: 800px;
    margin: 5rem auto;
}