body {
    background: skyblue;
}

h1 {
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

.progress {
    background: white;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: flex;
    height: 30px;
    width: 500px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .progress-value {
    background: white;
    height: 30px;
    width: 0;
    
    animation-name: load;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes load {
    0% { 
     width: 10%;
     background: yellow;
}
    100% { 
     width: 100%; 
     background: hotpink;
}
  }