* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: olive;
}

h1 {
    text-align: center;
    color: lightcoral;
}
 
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100vh;
  }
  
  .grid-item {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
  }

.grid-itemfinal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 90vh;
}
  
@media only screen and (max-width: 500px) {
  .grid-gallery {
    grid-template-columns: 1fr;
  }

  .grid-item {
    width: 80vw;
    height: 80vw;
  }
}



