body {
    background-image: url('gifs/turntable2.gif');
    background-size: cover;
}

.container {
    width: 400px;
    height: 400px;
    background: beige;
    background-image: url('images/1446917004-gettyimages-74294339.jpg');
    background-size: contain;
}





img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.turntable {
    position: absolute;
    top: 20%;
    right: 20%;
}
